.apresentacao{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    max-width: 100%;
}

.apresentacao h2{
    color: var(--corTituloMain);
    font-size: 2.5rem;
    margin-bottom: 2%;
}

.carousel-container{
    border-radius: 10px;
    /* box-shadow: 0 4px 8px var(--corSombreamento); */
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel{
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide{
    align-items: center;
    background-color: var(--corFundoCards);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    text-align: center;
}

.carousel-slide h3{
    color: var(--corSubTituloMain);
    font-size: 2rem;
    margin-bottom: 15px;
}

.carousel-slide p{
    color: var(--corParagrafoMain);
    font-size: 1.1rem;
    line-height: 1.6;
    width: 50%;
}

.carousel-slide img{
    /* box-shadow: 0 4px 6px var(--corSombreamento); */
    border-radius: 10px;
    height: 500px;
    max-width: 600px;
    margin-top: 20px;
}

.carousel-buttons{
    display: none;
    /* position: absolute;
    justify-content: space-between;
    top: 50%;
    width: 100%;
    transform: translateY(-50%); */
}

/* .carousel-buttons button{
    align-items: center;
    background-color: var(--corBotoes);
    border-radius: 50%;
    border: none;
    color: var(--corLetrasBotoes);
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    transition: background-color 0.3s;
    width: 40px;
} */

/* .carousel-buttons button:hover{
    background-color: var(--corBotoesHover);
} */

.carousel-dots {
    display: none;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.carousel-dots span {
    background-color: var(--corBotoes);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin: 0 5px;
    transition: background-color 0.3s;
    width: 15px;
}

.carousel-dots span.active {
    background-color: var(--corBotoesHover);
}