.contatos {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
    max-width: 100%;
}

.contatos h2 {
    font-size: 2.5rem;
    color: var(--corTituloMain);
    margin-bottom: 30px;
}

.links-redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-redes-sociais p {
    margin-top: 10px;
}

form,
p {
    padding: 0;
    margin: 0;
    outline: none;
    font-size: 14px;
    color: #000;
    line-height: 13px;
    border-radius: 10px;
}

#h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

#h4 {
    margin: 20px 0 2px;
    color: var(--corParagrafoMain);
}

.testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 80px;
}

form {
    padding: 20px;
    background: var(--corFundoCards);
    box-shadow: 0 2px 5px var(--corSombreamento);
}

.input {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #000;
    border-radius: 3px;
    vertical-align: middle;
    background-color: var(--corFundoCards);
}

.input:hover,
textarea:hover {
    outline: none;
    border: 1px solid var(--corSombreamento);
}

.first-name {
    margin-bottom: 5px;
}

th,
td {
    width: 21%;
    padding: 15px 0;
    border-bottom: 1px solid var(--corSombreamento);
    text-align: center;
    vertical-align: set;
    line-height: 18px;
    font-weight: 400;
    word-break: break-all;
}

.first-col {
    width: 16%;
    text-align: left;
}

table {
    width: 100%;
}

textarea {
    background: var(--corFundoCards);
    border-radius: 5px;
    padding: 10px;
    max-width: 400px;
    min-width: 400px;
    max-height: 100px;
    min-height: 100px;
}

.btn-block {
    margin-top: 20px;
    text-align: center;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: var(--corBotoes);
    font-size: 16px;
    color: var(--corLetrasBotoes);
    cursor: pointer;
    transition: 0.8s;
}

button:hover {
    opacity: .9;
    background-color: var(--corBotoesHover);
}

@media (min-width: 568px) {

    th,
    td {
        word-break: keep-all;
    }
}

/* =========================== lINKS PARA REDES SOCIAIS ============================= */

/* From Uiverse.io by elisapi */
.card {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 20px;
}

/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    background-color: var(--corBotoes);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
    border-radius: 30px;
}

/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;
    transform: scale(1.2);
}

/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: 0.3s;
    transform: scale(1.2);
}

/* Whatsapp*/
.containerFour:hover {
    background-color: #128c7e;
    transition-duration: 0.3s;
    transform: scale(1.2);
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: var(--corLetrasBotoes);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}