@media(max-width:760px){
    header ol{
        gap: 10% !important;
        margin: 15% !important;
    }
    header ol li a{
        font-size: 0.8rem !important;
    }
    .apresentacao{
        margin-top: 20%;
        gap: 5%;
        overflow: hidden;
    }
    .apresentacao h2{
        font-size: 2rem !important;
    }
    .carousel-container{
        max-width: 100% !important;
    }
    .carousel-slide h3{
        font-size: 1.5rem !important;
    }
    .carousel-slide p{
        font-size: 0.7rem !important;
        width: 100% !important;
    }
    .carousel-buttons{
        display: none !important;
    } 
    .carousel-slide{
        height: 350px;
    }
    .carousel-slide img{
        height: 300px !important;
        width: 250px !important;
    }
    .carousel-dots{
        display: block !important;
        padding-bottom: 3%;
    }
    .carousel-dots span{
        width: 30px !important;
        height: 30px !important;
    }
    .hero-content{
        width: 60%;
    }

    .hero-content h1 {
        font-size: 2.0rem !important;
    }

    .hero-content p {
        font-size: 0.8rem !important;
    }

    .details-item {
        flex-basis: 100%;
    }

    .fixed-button{
        display: none;
    }
    .fixed-button-mobile{
        display: block !important;
    }
    .product-details{
        padding: 5px 0px !important;
        display: inline-block !important;

    }
    .product-description p{
        font-size: 0.8rem !important;
        width: 350px !important;
    }
    .history-content {
        flex-direction: column;
        text-align: center;
    }

    .history-text, .history-image {
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    .history-image img {
        max-width: 80%;
        margin: 0 auto;
    }
    .testbox{
        padding: 50px !important;
    }
    textarea{
        max-width: 200px !important;
        min-width: 200px !important;
        max-height: 80px !important;
        min-height: 80px !important;
    }
    #h1{
        font-size: 1.0rem !important;
    }

    .footer-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .footer-logo {
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }

    .footer-links {
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }

    .footer-links ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-links ul li {
        margin: 0 15px;
    }

    .footer-social {
        margin-bottom: 20px;
        width: 100%;
    }

    .footer-newsletter {
        width: 100%;
        text-align: center;
    }

    .footer-newsletter input[type="email"] {
        width: 80%;
        margin-bottom: 10px;
    }

    .footer-newsletter button {
        width: 50%;
        padding: 10px;
    }

    .footer-bottom {
        width: 100%;
        padding-top: 20px;
    }


}